scopeName: 'source.alv'
name: 'Alive'
# (legacy TextMate grammar)
fileTypes: ['alv', 'alive']

patterns: [
  {
      # numbers
      match: '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
      name: 'constant.numeric.alv'
  }
  {
    # tags
    match: '(\\[\\d{1,}\\])'
    name: 'comment.tag.alv'
  }
  {
    # comments
     begin: '#\\('
     end: '\\)'
     name: 'comment.block.alv'
     patterns: [{ include: '#comment_content' }]
  }
  {
    # string, single quoted
    begin: '\''
    end: '\''
    name: 'string.quoted.single.alv'
    patterns: [{ include: '#escape' }]
  }
  {
    # string, double quoted
    begin: '\"'
    end: '\"'
    name: 'string.quoted.double.alv'
    patterns: [{ include: '#escape' }]
  }
  {
    # main keywords
    match: '\\b(def|defn|do|print)\\b'
    name: 'keyword.control.alv'
  }
  {
    # builtin functions
    match: '\\b(import)\\b'
    name: 'markup.heading.alv'
  }
  {
    # other functions
    match: '\\b(switch|every|change|sub|mul)\\b'
    name: 'markup.heading.alv'
  }
]

repository:
  'comment_content': {
    begin: '\\('
    end: '\\)'
    patterns: [{ include: '#comment_content' }]
  }
  'escape': {
    match: '\\\\.'
    name: 'constant.character.escape'
  }
